/* Custom css */
.nav-item:hover {
    border-radius: 0.25rem !important;
    background-color: #d9dce0 !important;
}

.card-link {
    text-decoration: unset !important;
    color: unset !important;
}

.footer-link {
    list-style-type: none !important;
}